*.egg-info/
build/
dist/
tmp/
__pycache__/
*.pyd
*.cpython*.so
var/
.idea/
*.iml
.vscode/
*.class
*.pyc
.DS_Store
target
java/com_*.h
java/classpath.txt
java/linux-build/include/*
python/voyager-headers
