*.egg-info/
build/
dist/
tmp/
__pycache__/
*.pyd
*.cpython*.so
var/
.idea/
*.iml
.vscode/
*.class
*.pyc
.DS_Store
target
java_bindings/com_*.h
java_bindings/classpath.txt
java_bindings/linux-build/include/*
python_bindings/voyager-headers
