*.egg-info/
*/build/*
!build/.gitkeep
dist/
tmp/
__pycache__/
*.pyd
*.cpython*.so
var/
.idea/
*.iml
.vscode/
*.class
*.pyc
.DS_Store
target
java/com_*.h
java/classpath.txt
java/linux-build/include/*
python/voyager-headers
.asv/
*.dSYM

# Cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
!cpp/Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
DartConfiguration.tcl
VoyagerTests
