-r test-requirements.txt
numpy
pybind11
pybind11-stubgen==0.16.2
ruff
psutil
mypy
asv==0.6.3
# Needed for sphinx documentation
sphinx
sphinxext-opengraph
sphinx-copybutton
m2r2
furo
# end sphinx reqs
