name: Compile, Test, and Deploy

on:
  pull_request: {}
  push:
    branches:
      - main
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint-java:
    runs-on: 'ubuntu-latest'
    continue-on-error: true
    name: Lint Java
    defaults:
      run:
        working-directory: java
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'corretto'
      - name: Check Formatting
        run: mvn --batch-mode com.spotify.fmt:fmt-maven-plugin:check

  lint-cpp:
    runs-on: 'ubuntu-latest'
    continue-on-error: true
    name: Lint C++
    steps:
      - uses: actions/checkout@v3
      - name: Check C++ Formatting
        uses: jidicula/clang-format-action@v4.4.1
        with:
          clang-format-version: 14
          fallback-style: LLVM

  run-java-tests:
    continue-on-error: true
    name: Run Java Tests
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: java
    strategy:
      matrix:
        os: ['ubuntu-latest', windows-latest, macos-12]
        java-version: ['11', '17']
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'corretto'
      - name: Compile and Run Tests
        run: mvn --batch-mode verify

  run-python-tests:
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    defaults:
      run:
        working-directory: python
    strategy:
      matrix:
        python-version:
#           - '3.7'
          - '3.8'
#           - '3.9'
#           - '3.10'
#           - '3.11'
        # TODO: Switch back to macos-latest once https://github.com/actions/python-versions/pull/114 is fixed
        os: ['ubuntu-latest', windows-latest, macos-12]
    name: Test with Python ${{ matrix.python-version }} on ${{ matrix.os }}
    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y pkg-config 
      - name: Install test dependencies
        env:
          # on macOS and with Python 3.10: building NumPy from source fails without these options:
          NPY_BLAS_ORDER: ""
          NPY_LAPACK_ORDER: ""
        run: |
          python -m pip install --upgrade pip
          pip install wheel
          pip install -r dev-requirements.txt
      - name: Build voyager locally
        run: python setup.py develop
      - name: Run tests
        run: pytest -v --durations=100 -x

  run-python-tests-with-address-sanitizer:
    defaults:
      run:
        working-directory: python
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version:
#           - '3.7'
          - '3.8'
#           - '3.9'
#           - '3.10'
#           - '3.11'
        os: ['ubuntu-latest']
    name: Test with Python ${{ matrix.python-version }} + Address Sanitizer
    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y pkg-config 
      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install wheel
          pip install -r dev-requirements.txt
      - name: Build voyager locally
        env:
          DEBUG: "0"
          USE_ASAN: "1"
          CC: clang
          CXX: clang++
        run: python setup.py develop
      - name: Run tests with ASan loaded
        # pytest can exit before all Python objects have been destroyed,
        # so we tell ASan to ignore leaks.
        run: |
          ASAN_OPTIONS=detect_leaks=0 \
          LD_PRELOAD=$(clang -print-file-name=libclang_rt.asan-x86_64.so) \
          pytest -v -x -s

  build-python-wheels:
    needs: [lint-cpp]
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    if: true # (github.event_name == 'release' && github.event.action == 'published') || contains(github.event.pull_request.labels.*.name, 'Also Test Wheels')
    strategy:
      matrix:
        include:
#         - { os: macos-12, build: cp36-macosx_x86_64 }
#         - { os: macos-12, build: cp37-macosx_x86_64 }
        - { os: macos-12, build: cp38-macosx_x86_64 }
#         - { os: macos-12, build: cp39-macosx_x86_64 }
#         - { os: macos-12, build: cp310-macosx_x86_64 }
#         - { os: macos-12, build: cp311-macosx_x86_64 }
        - { os: macos-12, build: cp38-macosx_universal2 }
#         - { os: macos-12, build: cp39-macosx_universal2 }
#         - { os: macos-12, build: cp310-macosx_universal2 }
#         - { os: macos-12, build: cp311-macosx_universal2 }
        - { os: macos-12, build: cp38-macosx_arm64 }
#         - { os: macos-12, build: cp39-macosx_arm64 }
#         - { os: macos-12, build: cp310-macosx_arm64 }
#         - { os: macos-12, build: cp311-macosx_arm64 }
#         - { os: macos-12, build: pp37-macosx_x86_64 }
#         - { os: macos-12, build: pp38-macosx_x86_64 }
#         - { os: macos-12, build: pp39-macosx_x86_64 }
#         - { os: windows-latest, build: cp36-win_amd64 }
#         - { os: windows-latest, build: cp37-win_amd64 }
        - { os: windows-latest, build: cp38-win_amd64 }
#         - { os: windows-latest, build: cp39-win_amd64 }
#         - { os: windows-latest, build: cp310-win_amd64 }
#         - { os: windows-latest, build: cp311-win_amd64 }
#         - { os: windows-latest, build: pp37-win_amd64 }
#         - { os: windows-latest, build: pp38-win_amd64 }
#         - { os: windows-latest, build: pp39-win_amd64 }
#         - { os: 'ubuntu-latest', build: cp36-manylinux_x86_64 }
#         - { os: 'ubuntu-latest', build: cp36-manylinux_aarch64 }
#         - { os: 'ubuntu-latest', build: cp37-manylinux_x86_64 }
#         - { os: 'ubuntu-latest', build: cp37-manylinux_aarch64 }
        - { os: 'ubuntu-latest', build: cp38-manylinux_x86_64 }
        - { os: 'ubuntu-latest', build: cp38-manylinux_aarch64 }
#         - { os: 'ubuntu-latest', build: cp39-manylinux_x86_64 }
#         - { os: 'ubuntu-latest', build: cp39-manylinux_aarch64 }
#         - { os: 'ubuntu-latest', build: cp310-manylinux_x86_64 }
#         - { os: 'ubuntu-latest', build: cp310-manylinux_aarch64 }
#         - { os: 'ubuntu-latest', build: cp311-manylinux_x86_64 }
#         - { os: 'ubuntu-latest', build: cp311-manylinux_aarch64 }
#         - { os: 'ubuntu-latest', build: pp37-manylinux_x86_64 }
#         - { os: 'ubuntu-latest', build: pp37-manylinux_aarch64 }
#         - { os: 'ubuntu-latest', build: pp38-manylinux_x86_64 }
#         - { os: 'ubuntu-latest', build: pp38-manylinux_aarch64 }
#         - { os: 'ubuntu-latest', build: pp39-manylinux_x86_64 }
#         - { os: 'ubuntu-latest', build: pp39-manylinux_aarch64 }
    name: Build wheel for ${{ matrix.build }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      # Used to host cibuildwheel, so version doesn't really matter
      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install cibuildwheel
        run: python -m pip install 'cibuildwheel>=2.11.0'
      - name: Set up QEMU for aarch64 on Linux
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all
      - name: Build wheels
        run: cp -r cpp python/cpp && cd python && python -m cibuildwheel --output-dir ../wheelhouse
        env:
          CIBW_TEST_REQUIRES: -r dev-requirements.txt
          CIBW_TEST_COMMAND: "pytest {project}/tests -x"
          CIBW_BUILD: ${{ matrix.build }}
          CIBW_ARCHS: auto64 # Only support building 64-bit wheels. It's 2022!
          CIBW_ARCHS_LINUX: auto64 aarch64 # Useful for building linux images with Apple Silicon
          CIBW_ARCHS_MACOS: x86_64 universal2 arm64 # Support Apple Silicon
          # on macOS and with Python 3.10: building NumPy from source fails without these options:
          CIBW_ENVIRONMENT: NPY_BLAS_ORDER="" NPY_LAPACK_ORDER=""
          CIBW_REPAIR_WHEEL_COMMAND_LINUX: pip install auditwheel-symbols && (auditwheel repair -w {dest_dir} {wheel} || auditwheel-symbols --manylinux 2010 {wheel})
          # The manylinux container doesn't have a new enough glibc version,
          # so we can't run post-wheel-build tests there.
          # Also testing any pypy versions fails, as TensorFlow isn't pypy compatible.
          CIBW_TEST_SKIP: "*manylinux* *pp* *-macosx_universal2:arm64"
          # Use the minimum macOS deployment target that has C++17 support:
          MACOSX_DEPLOYMENT_TARGET: "10.13"
      - uses: actions/upload-artifact@v3
        with:
          if-no-files-found: error
          path: ./wheelhouse/*.whl

  upload-pypi:
    defaults:
      run:
        working-directory: python
    needs: [build-python-wheels, run-python-tests-with-address-sanitizer, run-python-tests]
    runs-on: 'ubuntu-latest'
    name: "Upload wheels to PyPI"
    if: false && github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist
      - uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{ secrets.PYPI_DEPLOY_TOKEN }}
